<template name="foot">
	<footer class="footer container col-md-12">
		<div class="container col-md-8 col-md-offset-2">
			<div class="footer-stamp">
				<h6 class="light-gray" id="copyright">Copyright © 2015 TwoBits. All rights reserved.</h6>
			</div>
			<div class="footer-icons">
				<a class="fa fa-twitter footer-icon" target="_blank" href="https://twitter.com/twobitsapp"></a>
				<a class="fa fa-envelope-o footer-icon" href="mailto:twobitsapp@gmail.com"></a>
			</div>
		</div>
	</footer>
</template>
