<template name="navbar">
	<header>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="nav-collapse">
					<!-- <ul class="col-sm-3"></ul> -->
					<ul class="nav navbar-nav">
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Our Work</a></li>
						<li><a href="#">Merchandise</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="Jumbotron">
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail">
						<img src="img/barberblades1_small.JPG" alt="">
					</a>
				</div>
				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail">
						<img src="img/barberblades2_small.JPG" alt="">
					</a>
				</div>
				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail">
						<img src="img/barberblades3_small.JPG" alt="">
					</a>
				</div>
				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail">
						<img src="img/barberblades4_small.JPG" alt="">
					</a>
				</div>
			</div>
		</div> <!-- end jumbotron -->
	</header>
</template>