/*****
Color Graph
Nav: #FF6347;
a: #FFFFFF;

*****/

/* -------------------------
    Global Declarations
   -------------------------*/

body { 
	padding-top: 60px; /* Needed for bs3 fixed top nav bar*/
}

h2, .theTeamInstructions {
	text-align: center;
}

span {
	font-weight: bold;
}

/* -------------------------
    Navbar Declarations
   -------------------------*/

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar {
	background-color: #FF6347;
}

.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
	margin-top: 7px;
	margin-top: 7px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #DDDDDD;
}

.nav .nav-center {
    margin:0;
    float:none;
    display:inline-block;
}

/* -------------------------
    Jumbotron Declarations
   -------------------------*/

.Jumbotron {
	background-image: url("img/background.jpg");
}

.row {
	display: inline;
	padding-top: 10px;
}

.thumbnail {
	background-color: none;
	border-radius: none;
}

/* -------------------------
    Barber Profile selection Declarations
   -------------------------*/

.list-group-item:last-child {
	margin-bottom: 35px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
/* -------------------------
    Barber Profile Declarations
   -------------------------*/
.list-group {
	width: 30%;
 	margin: 0 auto;
}
	
.list-group a {
	text-align: center;
}

.profilePic {
	width: 140px;
	height: 140px;
	float: left;
}

.containerbarberprofile {
	padding-bottom: 25px;
}

.barberDescription {
	float: left;
	display: inline-block;
	list-style: none;
}

.barberDescription li {
	padding-bottom: 8px;
}

.barberprofilebg {
	background-color: grey;
}

/* -------------------------
    Calendar Declarations
   -------------------------*/
.calendarbg {
	background-color: #EEEBD2;
}
