<template name="main">
	<div class="container">
		<div id="calendar">
		</div>
		
		<!-- come back the book appointment once I figuer out backend component -->
		<!-- <ul class="barberDescription">
			<li><span>To book appointment:</span> Click here</li>
			<li><span>Call:</span> 203-752-8089</li>
		</ul> -->
	</div>
</template>

<template name="Dialog">
	<div class="modal fade in show" id="" tabindex="-1" role="dialog" aria-labellebdy="" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="">Edit Event</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="title">Title</label>
						<input type="text" class="form-control" id="title" placeholder="Enter a title" value="{{title}}">
					</div>	
				</div>	
				<div class="modal-footer">
					<button type="button" class="btn btn-default closeDialog" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary updateTitle">Save</button>
				</div>
			</div>
		</div>
	</div>
</template>